{% raw %}
    <template is="component-template" data-type="mini-cart">
        <side-drawer side="right">
            <div class="flex flex-col h-full">
    
                <!-- Cart Header -->
                <div class="px-4 py-4 flex gap-2 items-center">
                    <div class="size-4">
                        <svg
                        width="100%"
                        height="100%"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M5.91667 5.83333C5.91667 3.57817 7.74484 1.75 10 1.75C12.2552 1.75 14.0833 3.57817 14.0833 5.83333V6.75H15.8333C16.2234 6.75 16.5484 7.049 16.5807 7.43772L17.4141 17.4377C17.4315 17.6467 17.3606 17.8535 17.2186 18.0078C17.0766 18.1622 16.8764 18.25 16.6667 18.25H3.33333C3.1236 18.25 2.92344 18.1622 2.78142 18.0078C2.63941 17.8535 2.56851 17.6467 2.58593 17.4377L3.41926 7.43772C3.45165 7.049 3.7766 6.75 4.16667 6.75H5.91667V5.83333ZM4.85677 8.25L4.14843 16.75H15.8516L15.1432 8.25H4.85677ZM12.5833 6.75H7.41667V5.83333C7.41667 4.4066 8.57327 3.25 10 3.25C11.4267 3.25 12.5833 4.4066 12.5833 5.83333V6.75Z"
                            fill="currentColor" />
                        </svg>
                    </div>
                    <h2 class="uppercase text-sm leading-[14px]">
                        My Bag <span data-variable="itemCountText" class="[&:not(:empty)]:before:content-['('] [&:not(:empty)]:after:content-[')']">{{ itemCountText }}</span>
                    </h2>
                    <a href="/cart" class="text-primary-400 text-xs leading-3 underline">View / Edit</a>
                </div>
    
                <!-- Cart Items -->
                <div class="minicart-items flex-1 overflow-auto h-full" data-variable="itemsHtml">
                    {{ itemsHtml }}
                </div>
    
                <!-- Order Summary -->
                <div class="px-5 pt-6 pb-3 flex flex-col gap-3 border-t border-primary-100">
                    <div class="flex justify-between text-sm leading-[14px]">
                        <span class="text-primary-400">Subtotal</span>
                        <span data-variable="subtotal">{{ subtotal }}</span>
                    </div>
                    <div class="flex justify-between text-sm leading-[14px]">
                        <span class="text-primary-400">Shipping</span>
                        <span data-variable="shipping">{{ shipping }}</span>
                    </div>
                    <div class="flex justify-between text-sm leading-[14px]">
                        <span class="text-primary-400">Sales Tax</span>
                        <span data-variable="tax">{{ tax }}</span>
                    </div>
                    <div class="flex justify-between text-lg leading-[18px]">
                        <span>Total</span>
                        <span data-variable="total">{{ total }}</span>
                    </div>
                </div>
    
                <!-- Cart buttons -->
                <div class="pb-5 px-4 pt-3 flex flex-col gap-3">
                    <a href="/cart" class="w-full btn btn-ghost">View Cart</a>
                    <a href="/checkout" class="w-full btn btn-primary">Proceed to Checkout</a>
                </div>
    
            </div>
        </side-drawer>
    </template> 
{% endraw %}
    
<style>
    mini-cart .side-drawer [data-container] {
        padding-top: 12px;
    }

    mini-cart .side-drawer [data-content] {
        height: 100%;
    }

    mini-cart .side-drawer [data-close] {
        top: 17px;
        right: 13px;
    }

    mini-cart .minicart-items mini-cart-item:last-child > div > div{
        border: none !important;
    }
</style>