{% raw %}
<template is="component-template" data-type="product-card">
    <div class="product-card w-full border border-gray-200 rounded-md p-4">
        <input type="hidden" name="variant-id" value="{{ firstVariantId }}">
        <a href="{{ url }}" class="product-card-link">
            <div class="product-image-container">
                <img src="{{ image }}" alt="{{ title }}" class="product-image product-image-primary">
            </div>
        </a>
        <h1 class="pt-2 font-bold">{{ title }}</h1>
        <div class="pt-2 mb-2">{{ vendor }}</div>
        <span class="text-sm" data-variable="price">{{ price }}</span>
    </div>
</template>
{% endraw %}